@model IEnumerable<RestaurantEntity.Bill>

@{
    Layout = "~/Views/Shared/_LayoutHallManager.cshtml";
}


<body style="background-color:#5A3B5D ;padding-bottom:40px">
   
    <div class="container" style="background-color:#5A3B5D">
        
<div class="row" >
    <div class="col-12">

        <h3 class="text-center text-light">HallManager</h3>

        <hr />
                <table class="table table-light table-bordered text-light " style="background-color:#5A3B5D">
            <thead class="text-light">
                <tr>
                    <th>Bill Id</th>
                    <th>Table Number</th>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th>Bill Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    
                </tr>
            </thead>
            <tbody class="text-light">
                @foreach (var item in Model)
                {
                    @if(item.BillStatus==false)
                    {
                    <tr>
                        <td>@item.BillId</td>
                        <td>@item.HallTableId</td>
                        <td>@item.UserName</td>
                        <td>@item.UserEmail</td>
                        <td>@item.BillDate</td>
                        <td>@item.BillTotal</td>
                        @*<td>@item.BillStatus</td>*@
                        <td><a asp-controller="HallManager" asp-action="ChangeStatus" asp-route-billId="@item.BillId" type="button" class="btn btn-success">Verify payment & Empty Table</a></td>
                    </tr>
                    }

                }
            </tbody>
        </table>
    </div>
        </div>
    </div>
</body>