@using RestaurantEntity;
@model Tuple<List<Order>, List<AssignWork>>;
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}
<body style="background-color:#5A3B5D">
    <div class="container">
     
<div class="row">
    <div class="col-12 text-white">
        <h2>Assigned Works</h2>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-light">
                    <th>Order Id</th>
                    <th>Food Name</th>
                    <th>Quantity</th>
                    <th>Employee Name</th>
                    <th>Speciality</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr class ="text-light">
                        <td>@item.OrderId</td>
                        <td>@item.Food.FoodName</td>
                        <td>@item.Quantity</td>
                        @foreach(var item1 in Model.Item2)
                        {
                            @if(item.OrderId==item1.OrderId)                                    
                            {
                                <td>@item1.Employee.EmpName</td>
                                <td>@item1.Employee.EmpSpeciality</td>
                                @if(item1.WorkStatus==true)
                                {
                                            <td><img class="img-fluid" style="height:50px;width:50px" src="https://www.svgrepo.com/show/307637/soup-in-bowl-bowl-soup-hot-food.svg" />Prepared</td>
                                }
                                else
                                {
                                            <td><img class="img-fluid" style="height:50px;width:50px" src="https://www.svgrepo.com/show/147435/cooking.svg" />Preparing</td>
                                }
                                <td><a asp-controller="AssignWork" asp-action="EditAssignWork" asp-route-AssignWorkID="@item1.AssignId" class="btn btn-success"><img class="img-fluid" style="height:30px;width:60px" src="https://www.svgrepo.com/show/241804/edit.svg" />Edit Assigned Work</a></td>
                                        <td><a asp-controller="AssignWork" asp-action="DeleteAssignWork1" asp-route-AssignWorkID="@item1.AssignId" class="btn btn-danger"><img class="img-fluid" style="height:30px;width:60px" src="https://www.svgrepo.com/show/243864/delete.svg" />Delete Assigned Work</a></td>
                            }
                        }

                        

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
    </div>
</body>