@model List<RestaurantEntity.Employee>
@{
    Layout = "~/Views/Shared/_LayoutHeadChef.cshtml";
}
<body style="background-color:#5A3B5D">
    <div class="container">
<div class="row">
    <div class="col-12">
                <center>
                    <h2 style="color:white">Employees</h2></center>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-white">
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Password</th>
                    <th>Employee Designation</th>
                    <th>Employee Speciality</th>
                    <th>Employee Phone</th>
                    <th>Assign Work</th>
                    @*<th>Status</th>*@


            </thead>
            <tbody>
                @foreach (var Employee in Model)
                {

                        <tr class="text-white">
                        <td>@Employee.EmpId</td>
                        <td>@Employee.EmpName</td>
                        <td>@Employee.EmpEmail</td>
                        <td>@Employee.EmpPassword</td>
                        <td>@Employee.EmpDesignation</td>
                        <td>@Employee.EmpSpeciality</td>
                        <td>@Employee.EmpPhone</td>
                        <td><a asp-controller="AssignWork" asp-action="Index" asp-route-EmpId="@Employee.EmpId" class="btn btn-outline-success"><img src="https://www.svgrepo.com/show/189280/tasks-tick.svg" style="width:50px;height:50px"><span>&nbsp;</span>Assign Work</a></td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
</div>
</body>