@model IEnumerable<RestaurantEntity.Food>
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    

    <div class="container">
        <div>
            <center> <a asp-controller="Admin1" asp-action="Index"><h2>Index</h2></a></center>
            <hr />
        </div>

        <center>
            <h3>All Food </h3></center>

<div class="row">
    <div class="col-12 text-white">
 
        <hr />
        <table class="table  table-bordered table-hover">
            <thead>
                <tr style="color:white">
                    
                    <th>Food Id</th>
                    <th>Food Name</th>
                    <th>Food Type</th>
                    <th>Food Cost</th>
                    <th>Food Cuisine</th>
                    <th>Food Image</th>
                   

                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Food in Model) @*mvc controller name is asp controller and its function name is asp-action and asp-route-moveid (is used in url means ) we need pass the same argument in  editFood of Foodcontroller (route name) here which is FoodId
                which can be written as http://localhost:32344/Foods/edit Food?Foodid=2//
                *@
                {
                     string imageBase64Data = Convert.ToBase64String(Food.FoodImage);
                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                            <tr style="color:white">
                        <td>@Food.FoodId</td>
                        <td>@Food.FoodName</td>
                        <td>@Food.FoodType</td>
                        <td>@Food.FoodCost</td>
                        <td>@Food.FoodCuisine</td>
                  
                          <td><img height="50" width="50" src="@imageDataURL" /></td>

                        <td>
                            <a asp-controller="Admin1" asp-action="EditFood"
                                   asp-route-FoodId="@Food.FoodId"><img class="img-fluid" style="height:40px" src="https://www.svgrepo.com/show/241804/edit.svg" /></a>
                        </td>

                        <td>
                            <a asp-controller="Admin1" asp-action="DeleteFood" onclick="deleteFunction()"
                                   asp-route-FoodId="@Food.FoodId"><img class="img-fluid" style="height:50px" src="https://www.svgrepo.com/show/243864/delete.svg" /></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>