@model IEnumerable<RestaurantEntity.Feedback>
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">
    <div class="container">
       
        <center>
            <h3>All Feedbacks </h3>
        </center>

        <div class="row">
            <div class="col-12 text-white">

                <hr />
                <table class="table  table-bordered table-hover">
                    <thead>
                        <tr style="color:white">

                            <th>Feedback Id</th>
                            <th>HallTable Number</th>
                            <th>Rating</th>
                            <th>Comments</th>
                            <th>Feedback Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) @*mvc controller name is asp controller and its function name is asp-action and asp-route-moveid (is used in url means ) we need pass the same argument in  editHallTable of HallTablecontroller (route name) here which is HallTableId
                        which can be written as http://localhost:32344/HallTables/edit HallTable?HallTableid=2//
                        *@
                        {
                            <tr style="color:white">
                                <td>@item.FeedbackId</td>
                                <td>@item.HallTableId</td>
                                <td>@item.Rating</td>
                                <td>@item.Comments</td>
                                <td>@item.FeedbackStatus</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
