@using RestaurantEntity;
@model Tuple<List<Order>,List<Food>>;

@{
    ViewData["Title"] = "ConfirmOrder";
}
<body style="background-color:#5A3B5D;padding-bottom:80px">
    <a asp-area="" asp-controller="Order" asp-action="Index" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>
<div class="container">
    <center>
            <h2 style="color:white">Order List</h2>
        </center>
        <hr />

        <a asp-controller="Order" asp-action="ClearCart" onclick="clearcartFunction()" class="btn btn-primary">
            <img src="https://www.svgrepo.com/show/143188/clear-shopping-cart.svg" style="height:30px;width:30px;" />&nbsp;Clear Cart
        </a>
                &nbsp;
        <a asp-controller="Order" asp-action="ConfirmOrder" onclick="confirmFunction()" class="btn btn-primary"><img src="https://www.svgrepo.com/show/15204/confirm-purchase.svg" style="height:30px;width:30px;" />&nbsp;Confirm Order</a>
                &nbsp;

        <a asp-controller="Order" asp-action="ViewOrdered" class="btn btn-primary"><img src="https://www.svgrepo.com/show/10154/shopping-cart-empty-side-view.svg" style="height:30px;width:30px;" />&nbsp;  Ordered</a>
                &nbsp;
        <a asp-controller="Bill" asp-action="Index" class="btn btn-primary"><img src="https://www.svgrepo.com/show/410234/bill.svg" style="height:30px;width:30px;" />&nbsp;Get Bill</a>
               &nbsp;

        <a asp-controller="Order" asp-action="CancelOrder" onclick="clearcartFunction()" class="btn btn-danger"><img src="https://www.svgrepo.com/show/59190/cancelled-options.svg" style="height:30px;width:30px;" />&nbsp;Cancel All Order</a>
               &nbsp;
                
              
               <hr />

           @if (true)
            {
                    var total = 0;
            @foreach (var order in Model.Item1)
            {
                total = total + order.OrderTotal;
                @foreach (var food in Model.Item2)
                {
                    string imageBase64Data = Convert.ToBase64String(food.FoodImage);
                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                    @if (order.FoodId == food.FoodId)
                    {
                        <div>
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col">
                                    <div class="card mb-4">
                                        <div class="card-body p-4">
                                            <div class="row align-items-center">
                                                <div class="col-md-2">
                                                    <img src="@imageDataURL"
                                                                 class="img-fluid" alt="Generic placeholder image">
                                                </div>
                                                <div class="col-md-2 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black">Table No</p>
                                                        <p>@order.HallTableId</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black">Name</p>
                                                        <p >@food.FoodName</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black">Quantity</p>
                                                        <p >@order.Quantity</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black">Order Date & Time </p>
                                                        <p >@order.OrderDate</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black"> Cost</p>
                                                        <p > ₹@food.FoodCost</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 d-flex justify-content-center">
                                                    <div>
                                                        <p style="color:black" class=" font-weight-bolder">Order Total</p>
                                                        <p class=" font-weight-bolder">₹@order.OrderTotal</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            



        }
                @foreach (var order in Model.Item1)
               {

       
                        <div class="float-right">

                            <a class="btn btn-success text-light font-weight-bolder">Order total:₹@total</a>
                            <a asp-controller="Order" asp-action="Index" type="button" class="btn btn-primary "> Continue ordering</a>

                        </div>
                break;
               }

                     

         }
    </div>
</body>

