@model IEnumerable<RestaurantEntity.Food>

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    </head>
<body style="background-color:#5A3B5D">

    <a asp-area="" asp-controller="Order" asp-action="UserTableEntry" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>
   

    <div class="container">
        <h2 class="text-light text-center">Foods </h2>
       
        <br/><div class="row" >
            <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <div style="color:white">



<<<<<<< HEAD
                <a class="text-uppercase d-inline-block text-center" style="font-size:xx-large" align="center">Food <span class="font-weight-bold" style="font-size:xx-large">Details</span></a>



                <span style="font-size:large;float:right">
                    @Html.RadioButton("option", "FoodName") <text>Name</text> @Html.RadioButton("option", "Gender") <text> FoodName</text>
                    @Html.RadioButton("option", "Subjects")<text>subjects</text> @Html.TextBox("search")
                    <input type="submit" name="submit" value="Search" />
                </span>
=======




                    <span style="font-size:large;float:right">
                        @Html.RadioButton("option", "FoodName") <text>Food Name</text>
                        @Html.RadioButton("option", "Gender") <text> Cuisine </text>
                        @Html.RadioButton("option", "Subjects")<text>Food Type</text>
                        @Html.TextBox("search")
                          <input type="submit" value="Search" placeholder="Search" />
                           <a asp-controller="Order" asp-action="GetOrders1" class="btn btn-success "><img src="https://www.svgrepo.com/show/49439/cart.svg" style="height:30px;width:30px;" />&nbsp; View List</a>
                           
                    </span>
                </div>
            }
>>>>>>> 4295bef5855a2d4335b0214c69d2bbda719f386d
            </div>
            </div>
            <br />
            <h3 class="text-light" style="margin-left:50px">Veg</h3>
            <br />
            <div class=" row"> 
                
                 @foreach (var food in Model)
                {
                if (food.FoodType == "Veg")
                {
                    string imageBase64Data = Convert.ToBase64String(food.FoodImage);
                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="card" style="width: 17rem;">
                                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-mdb-ripple-color="light">
                                    <img height="150" src="@imageDataURL" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@food.FoodName</h5>
                                        <p class="card-text">Type(Veg/NonVeg):@food.FoodType </p>
                                        <p class="card-text">Food Cusine: @food.FoodCuisine</p>
                                        <p class="card-text">Cost:₹@food.FoodCost</p>
                                        <a asp-controller="Order" asp-action="AddOrder1" asp-route-FoodId="@food.FoodId" type="button" class="btn btn-success">Add to Cart</a>
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                }

               
                }                    
            </div>
        <h3 class="text-light" style="margin-left:50px">Non-Veg</h3>
        <br />
        <div class=" row">
            
            @foreach (var food in Model)
            {
                if (food.FoodType == "Non-Veg")
                {
                    string imageBase64Data = Convert.ToBase64String(food.FoodImage);
                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);
                    <div class="col-md-3">
                        <div class="col-md-3">
                            <div class="card" style="width: 17rem;">
                                <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                             data-mdb-ripple-color="light">
                                    <img height="150" src="@imageDataURL" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">@food.FoodName</h5>
                                        <p class="card-text">Type(Veg/NonVeg):@food.FoodType </p>
                                        <p class="card-text">Food Cusine: @food.FoodCuisine</p>
                                        <p class="card-text">Cost:₹@food.FoodCost</p>
                                        <a asp-controller="Order" asp-action="AddOrder1" asp-route-FoodId="@food.FoodId" type="button" class="btn btn-success">Add to Cart</a>
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                }


            }
        </div>
    </div>
</body>
</html>