@model IEnumerable<RestaurantEntity.Order>
@{
    ViewData["Title"] = "ViewOrdered";
}



<body style="background-color:#5A3B5D">
    <a asp-area="" asp-controller="Order" asp-action="GetOrders1" type="button" class="btn  text-dark"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/230939/back.svg"></a>
<div class="container">
        <center>
            <h2 style="color:white">View Ordered</h2></center>
    <div class="row">
        <div class="col-12 text-white">
                <center>
                    <h3 style="color:white">Orders</h3></center>
            <hr />
            <table class="table  table-bordered table-hover ">
                <thead>
                    <tr style="color:white">
                        
                        <th >Order Quantity</th>
                        <th>Order OrderTotal</th>
                       
                        <th>Order FoodId</th>
                        <th>Table Number</th>
                        <th>Order Date</th>
                        <th>Edit</th>
                        <th>Delete</th>


                  
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Order in Model) @*mvc controller name is asp controller and its function name is asp-action and asp-route-moveid (is used in url means ) we need pass the same argument in  editOrder of Ordercontroller (route name) here which is OrderId
                    which can be written as http://localhost:32344/Orders/edit Order?Orderid=2//
                    *@
                    {
                        @* string imageBase64Data = Convert.ToBase64String(Order.ImgPoster);
                    string imageDataURL = string.Format("data:image/jpg;base64,{0}", imageBase64Data);*@
                            <tr style="color:white">
                         
                            <td>@Order.Quantity</td>
                            <td>@Order.OrderTotal</td>
                            
                            <td>@Order.FoodId</td>
                            <td>@Order.HallTableId</td>
                            <td>@Order.OrderDate</td>
                                <td><a asp-controller="Order" asp-action="UpdateOrder1" asp-route-OrderId="@Order.OrderId" ><img class="img-fluid" style="height:40px" src="https://www.svgrepo.com/show/241804/edit.svg" /></a></td>
                                <td><a asp-controller="Order" asp-action="DeleteOrder1" asp-route-OrderId="@Order.OrderId"><img class="img-fluid" style="height:50px" src="https://www.svgrepo.com/show/243864/delete.svg" /></a></td>
                        
                    
                    </tr>

                    }
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>