@model IEnumerable<RestaurantEntity.AssignWork>
@{
    Layout = "~/Views/Shared/_LayoutChef.cshtml";

}
<body  style="background-color:#5A3B50">
    <div class="container">
        <center>
<h2 style="color:white">Index of chef</h2></center>

<div class="row">
    <div class="col-12">
                <center>
                    <h3 style="color:white">Assigned Work</h3></center>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-white">
                    <th>Assign Id</th>
                    <th>Order Id</th>
                    <th>Food Name</th>
                    <th>Food Cuisine</th>
                    <th>Quantity</th>
                    <th>Progress</th>
                    


            </thead>
            <tbody>
                @foreach (var AssignWork in Model)
                {
                    @if(AssignWork.WorkStatus==false)
                    {
                    <tr class="text-white">
                        <td>@AssignWork.AssignId</td>
                        <td>@AssignWork.Order.OrderId</td>
                        <td>@AssignWork.Order.Food.FoodName</td>
                        <td>@AssignWork.Order.Food.FoodCuisine</td>
                        <td>@AssignWork.Order.Quantity</td>
                        <td>
                                        <a asp-controller="Chef" asp-action="PreparedFood" asp-route-AssignId="@AssignWork.AssignId" class="btn btn-success ">

                                            <img class="img-fluid" style="height:50px;width:50px" src="https://www.svgrepo.com/show/419456/day-dish-heart.svg" />Mark as Completed
                            </a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    </div>
</body>